html
    head
        meta(charset="UTF-8")
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
        //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.0/flexslider.min.css")
        link(rel="stylesheet" type="text/css" href="./sass/mystyle.css")
        link(rel="stylesheet" type="text/css" href="./sass/phone.css")
        link(rel="stylesheet" type="text/css" href="./sass/cellphone.css")
        link(rel="stylesheet", href="./sass/index.css")
        link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap', rel='stylesheet')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700,900&display=swap&subset=chinese-traditional")
        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
        script(src='./javascripts/jquery-3.5.0.min.js')
        script(src='./javascripts/myscript.js')
        script(type="text/javascript",src="./javascripts/index.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.0/jquery.flexslider.min.js")
        script(src='./javascripts/jquery.color.min.js')
        script(src='./javascripts/jquery.easing.1.3.js')
        script(src='./javascripts/velocity.min.js')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    body
        .dotCube10#dotCube10
        .dotCube11#dotCube11
        .dotCube12#dotCube12
        .dotCube13#dotCube13
        nav.navbar.navbar-expand-md.fixed-top.navbar-light(style='background-color: #c30d23;')
            a.navbar-brand(href='#')
                img.navIcon(src='./images/nav_icon.svg')
                .title NCYU DEDM
                    br
                    | 109級 畢業展
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavDropdown.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    li.nav-item.active
                        a.nav-link(href='#')
                
                            //- | Home 
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='index.html') 首頁
                    li.nav-item
                        a.nav-link(href='#section_click') 作品
                    li.nav-item.dropdown
                        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | 組別
                        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                            a.dropdown-item(href='group_1.html') 初到嘉
                            a.dropdown-item(href='group_2.html') 旅友
                            a.dropdown-item(href='group_3.html') 桃城奇園
                            a.dropdown-item(href='group_4.html') 浪跡天涯
                            a.dropdown-item(href='group_5.html') 茶言觀色
                            a.dropdown-item(href='group_6.html') 酒香
                            a.dropdown-item(href='group_7.html') 掘跡者
                            a.dropdown-item(href='group_8.html') 猴孩子
                            a.dropdown-item(href='group_9.html') FINCH
                            a.dropdown-item(href='group_10.html') Harvest
        section#section_banner
            img.power#power(src="./images/Power.png",alt="")
            .barCube3#barCube3
            .barCube4#barCube4
            .longRedBar
                .dotdotBar1
                    .whitedot1
                    .whitedot1
                    .whitedot1
                    .whitedot1
                    .whitedot1
                    .whitedot1
                    .whitedot1
                    .whitedot1
                    .whitedot1
                    .whitedot1
                    .whitedot1
                    .whitedot1
                .dotdotBar2
                    .whitedot2
                    .whitedot2
                    .whitedot2
                    .whitedot2
                    .whitedot2
                    .whitedot2
                    .whitedot2
                    .whitedot2
                    .whitedot2
                    .whitedot2
                    .whitedot2
                    .whitedot2
            .middleRedBar
                .dotdotBar3
                    .whitedot3
                    .whitedot3
                    .whitedot3
                    .whitedot3
                .dotdotBar4
                    .whitedot4
                    .whitedot4
                    .whitedot4
                    .whitedot4
            .shortRedBar
                .dotdotBar5
                    .whitedot5
                    .whitedot5
            .longBlueBar
                .dotdotBar6
                    .whitedot6
                    .whitedot6
                    .whitedot6
                    .whitedot6
                    .whitedot6
                    .whitedot6
                    .whitedot6
                    .whitedot6
                    .whitedot6
                .dotdotBar7
                    .whitedot7
                    .whitedot7
                    .whitedot7
                    .whitedot7
                    .whitedot7
                    .whitedot7
                    .whitedot7
                    .whitedot7
                    .whitedot7
            .shortBlueBar
                .dotdotBar8
                    .whitedot8
                    .whitedot8
                    .whitedot8
                    .whitedot8
                    .whitedot8
                .dotdotBar9
                    .whitedot9
                    .whitedot9
                    .whitedot9
                    .whitedot9
                    .whitedot9
            .container-fluid#container-fluid1
                //- .bb
                .row#BG1
                //-     img.img-responsive(src="./images/bg01.png" alt="")
                .redBG#redBG
                    img(src="./images/redLeft.png", alt="", srcset="")
                //- .designText Design
                .barCube1#barCube1
                img.Camera#Camera(src="./images/Camera.png", alt="")
                img.designText2#designText2(src="./images/Design.png", alt="")
                img.designBG#designBG(src="./images/designText.png")
                img.dedmBG#dedmBG(src="./images/dedmText.png")
                img.blueDot#blueDot(src="./images/blueDot.png", alt="")
                img.blueDotSV#blueDotSV(src="./images/blueDotSV.png", alt="")
                img.whiteBar#whiteBar(src="./images/whiteBar.png",alt="")
                img.whiteBarSV#whiteBarSV(src="./images/whiteBarSV.png",alt="")
                .dotCube1#dotCube1
                .dotCube2#dotCube2
                img.designText(src="./images/Design.png", alt="")
                img.blueEye#blueEye(src="./images/blueEye.png",alt ="")
                img.blueEyeSV#blueEyeSV(src="./images/blueEyeSV.png",alt="")
                .blueBG#blueBG
                    img(src="./images/blueRight.png", alt="")
                img.redBar#redBar(src="./images/redBar.png", alt="")
                img.redBarSV#redBarSV(src="./images/redBarSV.png", alt="")
                img.redEye#redEye(src="./images/redEye.png", alt="")
                img.redEyeSV#redEyeSV(src="./images/redEyeSV.png",alt="")
                .dotCube3#dotCube3
                img.zeroTemp#zeroTemp(src="./images/zero.png",alt="")
                img.zeroTemp2#zeroTemp2(src="./images/zero.png",alt="")
                .dotCube4#dotCube4
                .barCube2#barCube2
                img.whiteBar2#whiteBar2(src="./images/whiteBar2.png", alt="")
                img.whiteBar2SV#whiteBar2SV(src="./images/whiteBar2SV.png", alt="")
                .dotCube5#dotCube5
                .dotCube6#dotCube6
                .dotCube7#dotCube7
                .dotCube8#dotCube8
                .dotCube9#dotCube9
                .explore.at_top EXPLORE
        section#section_slide
            .barCube5#barCube5
            .container
                .flexslider.carousel
                    ul.slides
                        li
                            img(src='./images/g1.jpg')
                        li
                            img(src='./images/g2.png')
                        li
                            img(src='./images/g3.png')
                        li
                            img(src='./images/g4.png')
                        li
                            img(src='./images/g5.jpg')
                        li
                            img(src='./images/g6.png')
                        li
                            img(src='./images/g7.png')
                        li
                            img(src='./images/g8.png')
                        li
                            img(src='./images/g9.png')
                        li
                            img(src='./images/g10.png')
        section#section_click
            .dotCube14#dotCube14
            .dotCube15#dotCube15
            .barCube6#barCube6
            .container-fluid
                .row
                    .col-6.col-md.col-lg.col-xl-2
                        a(href="group_1.html")
                            .block
                                img.img-fluid(src="./images/group_1.jpg", alt="Responsive image")
                        .text 初到嘉
                    .col-6.col-md.col-lg.col-xl-2
                        a(href="group_2.html")
                            .block
                                img.img-fluid(src="./images/group_2.png", alt="Responsive image")
                        .text 旅友
                    .col-6.col-md.col-lg.col-xl-2
                        a(href="group_3.html")
                            .block
                                img.img-fluid(src="./images/group_3.png", alt="Responsive image")
                        .text 桃城奇園
                    .col-6.col-md.col-lg.col-xl-2
                        a(href="group_4.html")
                            .block
                                img.img-fluid(src="./images/group_4.png", alt="Responsive image")
                        .text 浪跡天涯
                    .col-6.col-md.col-lg.col-xl-2
                        a(href="group_5.html")
                            .block
                                img.img-fluid(src="./images/group_5.jpg", alt="Responsive image")
                        .text 茶言觀色
                    .col-6.col-md.col-lg.col-xl-2
                        a(href="group_6.html")
                            .block
                                img.img-fluid(src="./images/group_6.png", alt="Responsive image")
                        .text 酒香
                    .col-6.col-md.col-lg.col-xl-2
                        a(href="group_7.html")
                            .block
                                img.img-fluid(src="./images/group_7.png", alt="Responsive image")
                        .text 掘跡者
                    .col-6.col-md.col-lg.col-xl-2
                        a(href="group_8.html")
                            .block
                                img.img-fluid(src="./images/group_8.png", alt="Responsive image")
                        .text 猴孩子
                    .col-6.col-md.col-lg.col-xl-2
                        a(href="group_9.html")
                            .block
                                img.img-fluid(src="./images/group_9.png", alt="Responsive image")
                        .text FINCH
                    .col-6.col-md.col-lg.col-xl-2
                        a(href="group_10.html")
                            .block
                                img.img-fluid(src="./images/group_10.png", alt="Responsive image")
                        .text HARVEST